<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.samsung.milk.milkvideo">
    <permission android:name="com.samsung.milk.milkvideo.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.milk.milkvideo.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:hardwareAccelerated="true" android:icon="@drawable/icon_milk_launcher" android:label="@string/application_name" android:largeHeap="true" android:name=".NachosApplication" android:theme="@style/Theme.NoTitleBar.FullScreen.NoSplitEvents">
        <uses-library android:name="com.samsung.device"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="e8c9bf4b6c0ef98fb0589818a1e41b58db279a8f"/>
        <receiver android:exported="true" android:name="com.appsflyer.MultipleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="locale|fontScale|layoutDirection|orientation|screenSize" android:launchMode="singleTop" android:name=".activity.VideoFeedActivity">
            <intent-filter>.
<action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.cocktail.subwindow.enable" android:value="true"/>
        </activity>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:launchMode="singleTop" android:name=".activity.SignupUserActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.CreateAccountActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection|orientation|screenSize" android:name=".activity.ProfileActivity">
            <meta-data android:name="com.samsung.android.cocktail.subwindow.enable" android:value="true"/>
        </activity>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:launchMode="singleTop" android:name=".activity.FollowsActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:launchMode="singleTop" android:name=".activity.SettingsActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.UserListActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.WelcomeActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.EditProfileActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection|orientation|screenSize" android:name=".activity.SearchActivity"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.LegalActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.SignoutConfirmationActivity" android:screenOrientation="userPortrait" android:theme="@style/Theme.Transparent"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.FollowFriendsActivity" android:screenOrientation="userPortrait" android:theme="@style/Theme.Transparent"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:launchMode="singleTop" android:name="com.facebook.LoginActivity"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.WelcomeFollowFacebookFriendsActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.WelcomeFollowGooglePlusFriendsActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection|orientation|screenSize" android:name=".activity.UserSearchResultsActivity" android:screenOrientation="userPortrait"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name="com.mixpanel.android.surveys.SurveyActivity"/>
        <activity android:configChanges="locale|fontScale|layoutDirection" android:name=".activity.ReposterListActivity" android:screenOrientation="userPortrait"/>
        <receiver android:name=".receiver.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.samsung.milk.milkvideo"/>
            </intent-filter>
        </receiver>
        <service android:name=".notifications.GcmIntentService"/>
    </application>
</manifest>
